<!DOCTYPE html PUBLIC "-//W3C//Dth XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/Dth/xhtml1-transitional.dth">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body><table border="1">
  <tr>
    <th colspan="30" width="50">00:00</th>
    <th colspan="30" width="50">00:30</th>
    <th colspan="30" width="50">01:00</th>
    <th colspan="30" width="50">01:30</th>
    <th colspan="30" width="50">02:00</th>
    <th colspan="30" width="50">02:30</th>
    <th colspan="30" width="50">03:00</th>
    <th colspan="30" width="50">03:30</th>
    <th colspan="30" width="50">04:00</th>
    <th colspan="30" width="50">04:30</th>
    <th colspan="30" width="50">05:00</th>
    <th colspan="30" width="50">05:30</th>
    <th colspan="30" width="50">06:00</th>
	<th colspan="30" width="50">06:30</th>
	<th colspan="30" width="50">07:00</th>
    <th colspan="30" width="50">07:30</th>
    <th colspan="30" width="50">08:00</th>
    <th colspan="30" width="50">08:30</th>
    <th colspan="30" width="50">09:00</th>
    <th colspan="30" width="50">09:30</th>
    <th colspan="30" width="50">10:00</th>
    <th colspan="30" width="50">10:30</th>
    <th colspan="30" width="50">11:00</th>
    <th colspan="30" width="50">11:30</th>
    <th colspan="30" width="50">12:00</th>
    <th colspan="30" width="50">12:30</th>
    <th colspan="30" width="50">13:00</th>
    <th colspan="30" width="50">13:30</th>
    <th colspan="30" width="50">14:00</th>
    <th colspan="30" width="50">14:30</th>
    <th colspan="30" width="50">15:00</th>
    <th colspan="30" width="50">15:30</th>
    <th colspan="30" width="50">16:00</th>
    <th colspan="30" width="50">16:30</th>
    <th colspan="30" width="50">17:00</th>
    <th colspan="30" width="50">17:30</th>
    <th colspan="30" width="50">18:00</th>
    <th colspan="30" width="50">18:30</th>
    <th colspan="30" width="50">19:00</th>
    <th colspan="30" width="50">19:30</th>
    <th colspan="30" width="50">20:00</th>
    <th colspan="30" width="50">20:30</th>
    <th colspan="30" width="50">21:00</th>
    <th colspan="30" width="50">21:30</th>
    <th colspan="30" width="50">22:00</th>
    <th colspan="30" width="50">22:30</th>
    <th colspan="30" width="50">23:00</th>
    <th colspan="30" width="50">23:30</th>
  </tr>
</table>

</body>
</html>
