<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>BluegGhost PG</title>
<link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
<div id="header">
BlueGhost P(rogram) G(uide)
</div>

<div id="menu">
<ul>
	<li>| <a href="index.php">INDEX PAGE</a> </li>
	<li>| <a href="index_view.php">TOP VIEW</a> </li>
 	<li>| SIDE VIEW |</li>
</ul>
</div>
<div id="content">

<span onmouseover="" onmouseout=""

