<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="../styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table id="chann_navigator">
  <tr>
    <td class="time">Time</td>
    <td class="channel">BBC 1 </td>
    <td class="channel">BBC 2 </td>
    <td class="channel">BBC Three </td>
    <td class="channel">BBC Four </td>
    <td class="channel">BBC Radio 1 </td>
  </tr>
</table>
<div id="sched_data">
<table>
  <tr class="rowA">
    <td class="time">00</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr class="rowB">
    <td class="time">01</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">02</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">03</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">04</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">05</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">06</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">07</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">08</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">09</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">10</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">11</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">12</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">13</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">14</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">15</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">16</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">17</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">18</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">19</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">20</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">21</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">22</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
  <tr>
    <td class="time">23</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
    <td class="channel">&nbsp;</td>
  </tr>
</table>
</div>
</body>
</html>
