<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="../styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="prog">
<strong>20:30 - 21:00</strong><p class="prog_title">Mind, Body and Kick Ass Moves</p><p class="prog_syn">Fighting as entertainment is the theme, taking Chris Crudelli from a fight club in Taipei to a film set in Beijing, where he is taught how to fly in Crouching Tiger fashion. [S]</p>
</div>
</body>
</html>
