<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
<link href="../styles/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="sched_data_side">
<table id="chann_navigator">
  <tr>
    <td>Time</td>
    <td class="rowA">01</td>
    <td class="rowB">02</td>
    <td class="rowB">03</td>
    <td class="rowA">04</td>
    <td class="rowB">05</td>
  </tr>
  <tr>
    <td>BBC1</td>
    <td>01 data </td>
    <td>02 data </td>
    <td>03 data </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>BBC2</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>BBC3</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
</body>
</html>
